.aa{
    width: 200px;
    height: 200px;
    background-color: red;
}



/*
Common CSS
*/
.border{
	border:1px solid #ddd;
}
.border-left{
	border-left:1px solid #ddd;
}
.border-right{
	border-right:1px solid #ddd;
}
.border-bottom{
	border-bottom:1px solid #ddd;
}
.border-top{
	border-top:1px solid #ddd;
}
.bdbottom{
	border-bottom:1px dotted #ddd;
}
.tmargin{
	margin-top: 10px;
}
.bmargin{
	margin-bottom: 10px;
}
.lmargin{
	margin-left: 10px;
}
.rmargin{
	margin-right: 10px;
}
.thumbnail {
	margin-bottom: 7px;
}

.affix {
    top: 0;
    z-index: 999 !important;
	width:100%;
	background-color:#FFFFFF;
	
}

a{
	text-decoration:none;
	cursor: pointer;
}
a:hover{
	color:#BB0000;
}

.dhd{
	font-family:Anton;
	font-size:24px;
	color:#E40B00;
	text-align:center;
	margin:10px 0;
}
.roboto{
	font-family: Roboto;
	font-weight: bold;
}

.sublink{
	color:#444;
	text-align: justify;
	text-decoration: none !important;
}

.link{
	color:#444;
	text-align: justify;
	text-decoration: none !important;
}

.ctitle{
	font-family: Roboto;
    font-size: 14px;
    line-height: 1.25;
    margin: 3px 1px 5px 1px;
    font-weight: 500;
	min-height: 64px;
    max-height: 64px;
}

.list-title{
	font-family: Roboto;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 500;
	min-height: 32px;
}

.sub-title{
	font-family: Roboto;
    font-size: 15px;
    line-height: 1.25;
    font-weight: 500;
	padding:3px 0 0 0;
}

.subcat{
   background-color:#EFEFEF;
}
.subcat{
	margin: 0 0px 4px 8px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    color: #b40000;
}

h4:before, h4:after {
     content: "";
     flex: 1 1;
     border-bottom: 2px solid #000;
     margin: auto;
}

.date-tdsk { 
	display: flex; 
	flex-direction: row; 
	font-family: Roboto;
    font-size: 13px;
	font-weight:500;
	font-style: italic;
	color:#900;
} 

.date-tdsk:before, .date-tdsk:after {
	
	content: "";
	flex: 1 1;
	border-bottom: 1px dotted #AAA;
	margin: auto;
}


.badge {
	margin: 3px 5px 5px 0px;
    border: 1px solid #B40000;
    color: #333333;
    background-color: #EFEFEF;
	font-family:Roboto;
	font-size:11px;
}
.badge:hover {
    background-color: #B40000;
}

hr{
	margin-top: 0px;
    margin-bottom: 5px;
}

.navbar{
	margin-bottom: 10px;
	min-height: 33px;
}

.navbar-bhp{
	border: none;
}

.nav > li > a {
    padding: 8px 8px 5px 8px;
	color:#FFFFFF;
	font-family: "Roboto";
	font-size:16px;
	font-weight:500;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color:#333333;
  background-color: #efefef;
}

.navbar-toggle {
	margin-bottom: 0px;
	margin-top: 0px;
    margin-right: 0px;
}


@media (max-width: 768px){
.navbar-bhp{
	background-color:#F40C00;
}
.nav > li > a {
    padding: 10px 8px 8px 30px;
}
}
.contact{
	font-size: 12px; 
	padding-top: 7px;
	margin-left: 4px;
	font-weight:bold;
	color:#333333;
	text-decoration: none !important;
}


#leftbox{padding-top:6px;}

.header{
	border-bottom:3px double #DDDDDD;
	margin-bottom:1px;
	background-image: linear-gradient(to top, #EFEFEF, #FFFFFF);
}
.header .text{
	font-family: Roboto;
	font-weight: 700;
	text-decoration: none;
	padding-right: 4px;
	color:#232323;
	font-size:17px;
}
.header .licon{
	padding:7px 7px 4px 7px;
	color: #B40000;
	font-size:18px;
}
.header .ricon{
	color:#555555;
    padding:7px 2px 4px 7px;
}

/* Adv CSS */
.advtop{
	padding:4px 2px;
	max-height: 32px;
}
.advban{
	vertical-align:middle;
}
.alignbot{
	padding-bottom:8px;
}
/*---------*/

.img-responsivel {
  display: block;
  width: 100%;
  height: auto;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: 1px solid #B40000;
  outline: none;
  background-color: rgba(256,64,64,.5);
  color: white;
  cursor: pointer;
  padding: 11px 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #B40000;
}





#searchbox .form-search{
	margin: 0;
	padding: 4px 0px 4px 7px;
}
#searchbox .input-group-btn{
	height: 24px;
}
#searchbox input{
	height: 24px;
	width: 200px;
	font-size: 12px;
}
#searchbox .btn{
	height: 24px;
	width: 24px;
	padding: 2px;
}
#searchbox .btn-primary {
    color: #fff;
    background-color: #B40000;
    border: 1px solid #880000;
}

#searchbox .search-query{
	border: 1px solid #888;
}



.title{
	font-family:Anton;
	text-align: justify;
	line-height: 1.2;
	color:#990000;
}
#newsContent .stitle{
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
	line-height: 1.2;
	color:#555555;
}
#newsContent .head{
	font-size: 14px;
	font-weight: bold;
	text-align: justify;
}
#newsContent .prefix{
	font-weight: bold;
	background-color: #337ab7;
	color: #FFFFFF;
}
#newsContent .creatdate{
	font-size: 12px;
	font-weight: bold;
}
#newsContent .content{
	font-size: 14px;
	text-align: justify;
}
#newsComment .cmtTitle{
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
#newsComment .cmtContent{
	font-size: 12px;
}
#newsComment .cmtEmail{
	font-size: 12px;
	color: #888888;
}


/*-----Start Carousel CSS-----*/
.carousel-caption h4{
	position:absolute;
	bottom:0px;
	margin-top: 3px;
    margin-bottom: 3px;
}

.carousel-caption h4 a{
	text-decoration:none;
	font-family: Roboto;
	font-size: 18px;
	line-height:1.2;
	color:#222222;
	text-align: justify !important;
}
.carousel-caption h4 a:hover{
	color:#BB0000;
}
.carousel-caption .cat{
	bottom: 68px;
    border-left: 3px solid #BB0000;
    position: absolute;
    font-family: Roboto;
    padding: 0 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #BB0000;
    left: 0px;
}
.carousel-caption .dat{
	bottom: 68px;
    position: absolute;
    font-family: Roboto;
	font-style: italic;
    font-size: 12px;
    color: #555555;
	padding: 0 8px;
    right: 0px;
}

@media screen and (min-width: 768px) {
.carousel-caption h4{
	top:462px;
}
.carousel-caption .cat{
	bottom: 48px;
}
.carousel-caption .dat{
	bottom: 48px;
}	
}



.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: block;
	height: auto;
	width: 100%;
	line-height: 1;
}

.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
}    
.carousel-fade .carousel-inner .active {
	opacity: 1;
}    
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}    
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}    
.carousel-fade .carousel-control {
	z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*-----Finish Carousel CSS-----*/

/*-----Listpage-----*/
a{
	text-decoration: none !important;
}

.listpage-title{
	font-family:Anton;
	font-size:28px;
	color:#FF0000;
}
.listpage-subcat {
	text-transform: uppercase;
    color: #333333;
	font-family:Roboto;
	font-size:16px;
	font-weight:600;
	margin-top: 11px;
	margin-left:15px;
	margin-bottom:8px;
}
.listpage-subcat:hover {
	
}

.listpage-p{
	min-height:48px;
	max-height:48px;
}

.listpage-first{
	font-family: Roboto;
    font-size: 18px;
    color: #CC0000;
	line-height:1.25;
	margin-top:8px;
	text-align: justify;
}
.listpage-sub{
	font-family: Roboto;
    font-size: 14px;
    color: #555555;
	line-height:1.1;
	margin-top:3px;
	text-align: justify;
	min-height:50px;
	max-height:50px;
	font-weight:normal;
	
}
.mess { display: none; }

.badge-hover:hover{
	color:#FFFFFF !important;
}

@media (max-width: 768px){

.listpage-sub{
	min-height:60px;
	max-height:60px;
}

.listpage-title{
	font-size:24px;
}	
	
.listpage-subcat {
	font-size:12px;
	margin-top: 11px;
	margin-left:11px;
}
.dhd{
	font-size:21px;
}
}
/*------------------*/

