body {
    /* S-Body/Regular */
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.white {
    color: white !important;
}
.h-110 {
    height: 110px;
}
.h-115 {
    height: 115px;
}
.h-240 {
    height: 240px;
}
.h-170 {
    height: 170px;
}
.h-512 {
    height: 512px;
}
.h-255 {
    height: 255px;
}
.h-280 {
    height: 280px;
}
.danger {
    color: #dc3545 !important;
}
.bold {
    font-weight: 700;
}
.bd {
    border: 1px solid #d1dbe9;
}
.bd-t {
    border-top: 1px solid #d1dbe9;
}
.bd-b {
    border-bottom: 1px solid #d1dbe9;
}
.bd-b-r {
    border-bottom: 1px solid red;
}
.bd-r {
    border-right: 1px solid rgb(209, 219, 233);
}
.text-c1 {
    /* H4/W-Medium */
    color: #313848;
    font-family: STIX Two Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.08px;
}
.text-c1b {
    color: #212839;
    /* H4/W-Medium */
    font-family: STIX Two Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.08px;
}
.text-c1c {
    color: #fcfdfe;
    /* H4/W-Medium */
    font-family: STIX Two Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.08px;
}
.text-c1d {
    color: #212839;
    /* H4/W-Medium */
    font-family: STIX Two Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.08px;
}
.text-c1f {
    color: #212839;
    /* H4/W-Medium */
    font-family: STIX Two Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.08px;
}
.text-c2 {
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.text-c3 {
    color: #545e75;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.text-c3b {
    color: #545e75;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.text-c3 {
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.text-c4 {
    color: #545e75;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.text-c5 {
    overflow: hidden;
    color: rgba(252, 253, 254, 0.6);
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.title-c0 {
    color: #475066;
    text-align: center;
    font-family: Noto Sans;
    font-size: 11.413px;
    font-style: normal;
    font-weight: 700;
}

.title-c1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-family: STIX Two Text;
    text-transform: uppercase;
}

.title-c2 {
    font-family: STIX Two Text;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.title-c3 {
    font-family: STIX Two Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.12px;
}
.title-c4 {
    font-family: STIX Two Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.12px;
    line-height: 135%;
}
.title-c5 {
    color: #fff;
    font-family: STIX Two Text;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
    letter-spacing: 0.16px;
}
.title-c6 {
    color: #212839;
    /* H3/W-Bold */
    font-family: STIX Two Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 27px */
    letter-spacing: 0.1px;
}
.text-c7 {
    color: #8a95ab;
    /* M-Body/Regular */
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tt-disable1 {
    color: #545e75;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.tt-disable0 {
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.tt-disable2 {
    color: #545e75;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.tt-disable3 {
    color: #8a95ab;
    /* Caption/Medium */
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.tt-disable {
    color: rgba(252, 253, 254, 0.65);
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.pad-0 {
    padding: 0 !important;
}

.mar-0 {
    margin: 0 !important;
}

.mt-50 {
    margin-top: 50px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-10 {
    margin-top: 10px !important;
}

.mart-5 {
    margin-top: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.ml-20 {
    margin-left: 20px !important;
}
.ml-30 {
    margin-left: 30px !important;
}
.ml-40 {
    margin-left: 40px !important;
}
.ml-50 {
    margin-left: 50px !important;
}

.mr-5 {
    margin-right: 5px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mr-30 {
    margin-right: 30px !important;
}
.mr-40 {
    margin-right: 40px !important;
}
.mr-50 {
    margin-right: 50px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}

.pt-50 {
    margin-top: 50px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pt-10 {
    padding-top: 10px !important;
}

.pt-5 {
    padding-top: 5px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pl-5 {
    padding-left: 5px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.pl-25 {
    padding-left: 25px !important;
}
.pl-30 {
    padding-left: 30px !important;
}
.pl-40 {
    padding-left: 40px !important;
}
.pl-50 {
    padding-left: 50px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.pr-5 {
    padding-right: 5px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.pr-20 {
    padding-right: 20px !important;
}
.pr-30 {
    padding-right: 30px !important;
}
.pr-40 {
    padding-right: 40px !important;
}
.pr-50 {
    padding-right: 50px !important;
}

.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}

.three-dots-vertical {
    text-align: right;
    padding-top: 5px;
    i {
        color: #545e75;
    }
}
.box-number {
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: #d63232;
}

.list-group {
    margin: 0;
    padding: 0;
    list-style: none;
    .group-item {
        padding-top: 5px;
        position: 5px;
        //height: 55px;
        border-top: 1px solid #d1dbe9;
        i {
            padding-right: 5px;
        }
    }
}

.color-header {
    color: #545e75;
}

.pad-5 {
    padding: 5px;
}

.lh-2 {
    line-height: 2;
}

.icon-login {
    font-size: 18px;
    line-height: 1.8;
}

.vertical-line {
    margin: 5px 15px 0px 10px;
    border-left: 1px solid #545e75;
    height: 70%;
    padding: 0;
}

.header-bhp {
    background-color: #f4f8fd;
    color: #545e75;
    text-align: center;
    /* M-Body/Medium */
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    .nav2 > li > a {
        padding: 5px 15px 5px 20px;
        color: #545e75;
        text-align: center;
        /* M-Body/Medium */
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }

    .nav3 > li > a {
        padding: 5px 15px 5px 5px;
        color: #545e75;
        text-align: center;
        /* M-Body/Medium */
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
}
.nav4 {
    float: right;
    li {
        img {
            margin-top: -2px;
        }
        a {
            padding: 5px 15px 5px 5px;
            color: #545e75 !important;
            text-align: center;
            /* M-Body/Medium */
            font-family: Noto Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }
}

.menu {
    background-color: #d63232;
    color: white;

    ul {
        li {
            a {
                font-family: Noto Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }

    .input-search {
        margin-top: 2px;
        border-radius: 4px;
        color: black;
        background-color: white;

        i {
            padding-top: 10px;
            padding-left: 10px;
        }

        input {
            border: none;
            box-shadow: none;
        }
    }
}

.center_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    color: #212839;
    font-weight: 600;
    font-size: 16px;
}

.bb-1 {
    width: 97%;
    margin-left: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #edf2f6;
}

.under-bb {
    margin-left: 10px;
    background-color: red;
    width: 60px;
    height: 2px;
}
.bd-b {
    border-bottom: 1px solid #e2eaf3;
}
.container-ct0 {
    position: relative;
    padding: 0;
}

.container-ct {
    position: relative;
    padding: 0;
}
.container-ct2 {
    position: relative;
}

.image-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.sweather {
    padding-bottom: 30px;
    .box {
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 0px;
        .item {
            padding-bottom: 20px;
            background-color: #f1f4f8;
            img {
                height: 119px;
                width: 150px;
            }
            .sweather-footer {
                margin-top: 20px;
                text-align: center;
                margin-left: 0px;
            }
            .text_provicne {
                font-family: Plus Jakarta Sans;
                font-size: 31.596px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 20px;
                margin-left: 20px;
            }
            .text-date {
                color: #6c7785;

                font-family: DM Sans;
                font-size: 12.926px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-left: 20px;
            }
            .text-do {
                font-family: Plus Jakarta Sans;
                font-size: 60.216px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: capitalize;
                color: #296399;
                margin-top: 10px;
            }
            .text-do2 {
                color: #658caf;

                font-family: Plus Jakarta Sans;
                font-size: 15.054px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}
.social-network {
    height: 50px;
    box-sizing: border-box;
    padding: 0px 0px 0px 27px;
    .social-network-box {
        border: 1px solid #e2eaf3;
        border-radius: 5px;
        .bi-facebook {
            color: #1877f2;
            margin-right: 10px;
        }
        .bi-youtube {
            color: #f21823;
            margin-right: 10px;
        }
        .pt-15 {
            padding-top: 15px;
        }
    }
}

.image-container2 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    .imge-2 {
        margin-left: -12px;
    }
    img {
        width: 100%; /* Đảm bảo ảnh chiếm đầy đủ width của container */
        height: auto; /* Tự động tính chiều cao tương ứng */
        display: block;
    }

    .image-content {
        color: white;
        position: absolute;
        bottom: 0px;
        left: 12px;
        padding: 4px 12px 2px 9px;
    }
    .image-content2 {
        width: 25px;
        color: white;
        position: absolute;
        bottom: 4px;
        left: 24px;
        padding: 4px 12px 2px 9px;
    }
    .image-content3 {
        background-color: #f10000;
        top: -15px;
        color: white;
        position: absolute;
        left: 30px;
        padding: 4px 12px 2px 9px;
    }
    .image-content4 {
        color: white;
        position: absolute;
        bottom: 5px;
        left: 0px;
        padding: 4px 12px 2px 9px;
    }

    .one {
        background-color: #d63232;
    }
    .two {
        background-color: #d65032;
    }
    .three {
        background-color: #e3a937;
    }
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.info-container3 {
    font-weight: 600;
    padding-left: 20px;
    color: white;
    position: absolute;
    top: 55%;
    width: 100%;
    height: 45%;
    z-index: 1;
    .btn {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 15px;
        margin-right: 20px;
    }
}
.info-container4 {
    font-weight: 600;
    position: absolute;
    top: -3%;
    width: 100%;
    height: 20%;
    left: -13px;
    z-index: 1;
    .box {
        text-align: center;
        background-color: #fff;
        color: rgb(0, 0, 0);
        width: 200px;
        .box-E {
            width: 32px;
            height: 29px;
            background-color: red;
            color: #fcfdfe;
            font-family: STIX Two Text;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 135%;
            letter-spacing: 0.1px;
            margin-right: 7px;
            margin-left: -15px;
            margin-top: -10px;
        }
    }
}
.info-container {
    font-weight: 600;
    padding-left: 20px;
    color: white;
    opacity: 0.8;
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgb(17 16 30);
    z-index: 1;
    box-sizing: border-box;
}

.info-container2 {
    font-weight: 600;
    padding-left: 20px;
    color: white;
    opacity: 0.8;
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: rgb(17 16 30);
    z-index: 1;
    box-sizing: border-box;
    .image-content3 {
        background-color: #f10000;
        top: -14px;
        color: white;
        position: absolute;
        left: 20px;
        width: fit-content;
        padding: 4px 12px 2px 9px;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-75 {
    width: 75%;
}

.live {
    line-height: 2.5;
    .tt-left {
        background-color: red;
        color: white;
    }

    .live-right {
        background-color: #ecf2f8;
    }
    .live-right2 {
        background-color: #ffe1e1;
    }

    button {
        font-size: 18px;
        background-color: #d0dce9;
    }
}
.video {
    .content {
        box-sizing: border-box;
        padding: 0px 27px 0px 27px;
        .item-video {
            background-color: #31363d;
            padding: 15px 10px 15px 10px;
        }
    }
}
.video-content {
    .item-left {
        box-sizing: border-box;
        padding: 0px 0px 0px 27px;
        .name {
            height: 100%;
            background-color: #ffff;
            padding: 15px 10px 15px 10px;
        }
    }
}

.live-pad-10 {
    padding: 0px 10px 0px 10px;
}
.triangle-container {
    position: relative;
}

.triangle {
    top: 40px;
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(255 0 0);
}

.name-profile {
    padding-bottom: 50px;
    position: relative;

    .image-left {
        top: -30px;
        position: absolute;
        z-index: 2;
        left: 11px;
    }

    .image-right {
        left: 1185px;
        top: 167px;
        position: absolute;
        transform: rotate(180deg);
    }

    .profile {
        margin-right: 20px;
        position: relative;
        width: 20%;
        border-radius: 12px;
        border: 2px solid rgba(254, 207, 141, 0.34);

        .bg-f {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-image: url("../images/trongdong.png");
            background-repeat: no-repeat;
            background-position-x: -80px;
            background-position-y: -100px;
            mix-blend-mode: normal;
            opacity: 0.5;
            z-index: -1;
        }

        .bg-f::after {
            position: absolute;
            content: "";
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            background: linear-gradient(
                135deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.85) 50%,
                rgba(255, 255, 255, 1) 80%,
                rgba(255, 255, 255, 1) 90%,
                rgba(255, 255, 255, 1) 100%
            );
            pointer-events: none;
        }

        .image-profile {
            margin-top: 12px;
            margin-left: 30px;
            width: 65px;
            height: 63px;
        }

        .name {
            color: #d63232;
            font-family: STIX Two Text;
            font-size: 24px;
            padding-left: 10px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.12px;
        }

        .vector-strong {
            width: 175px;
            padding-left: 10px;
            margin-top: -30px;
            height: 10px;
        }

        .position {
            padding-left: 10px;
            padding-bottom: 20px;
        }
    }
}

.work_new {
    width: 100%;
    background: linear-gradient(180deg, #faf2f2 0%, rgba(249, 238, 238, 0) 104.51%);
    .item {
        margin-top: 20px;
        padding: 0px 15px 5px 15px;
        .box {
            width: fit-content;
            color: var(--Text-Tertiary, #8a95ab);
            margin: 10px 0px 0px 10px;
            padding: 3px 10px 3px 10px;
            font-family: Noto Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            border: 1px solid;
            border-radius: 10px;
        }
    }
}

.political_new {
    position: relative;
    background-image: url("../images/BGTHOISU2.png");
    background-repeat: round;
}

.container-swiper {
    background-image: url("../images/Rectangle111.png");
    background-repeat: round;
    height: 650px;
    font-family:
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    .tt1 {
        margin-top: 70px;
        text-align: center;
        background-color: #d63232;
        width: 130px;
        height: 30px;
        font-family: STIX Two Text;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.08px;
        padding-top: 5px;
    }
    .tt2 {
        font-size: 80px;
        margin-top: -33px;
    }
    .tt3 {
        font-size: 56px;
    }
    .tt4 {
        img {
            margin-left: 42px;
            width: 80px;
            height: 2px;
        }
    }
    .btn-outline {
        margin-top: 20px;
        color: white;
        border: 1px solid white;
    }
    .swiper {
        width: 100%;
        height: 65%;
        top: 150px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 290px !important;
        .text-image {
            position: absolute;
            top: 80%;
            left: 5%;
            color: var(--Text-Light, #fcfdfe);
            /* H3/W-SemiBold */
            font-family: STIX Two Text;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 135%; /* 27px */
            letter-spacing: 0.1px;
            text-align: left;
            .arrow-left {
                text-align: left;
            }
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    ul {
        position: absolute;
        top: 115px;
        padding-left: 415px;
        li {
            color: var(--Text-Light, #fcfdfe);
            font-family: Noto Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            padding-right: 15px;
            padding-left: 15px;
        }
        .nav-item:not(:last-child) {
            border-right: 1px solid #fcfdfe; /* Đổi màu và kiểu đường border theo ý muốn của bạn */
        }
    }
}
.megastory {
    height: 666px;
    background-image: url("/assets/images/Subtract.png");
    .mega-header {
        text-align: center;
        .border-red {
            background-color: #d63232;
            height: 21px;
            margin-top: 10px;
        }
        span {
            color: var(--Primary-Base, #d22c2c);
            font-family: STIX Two Text;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 135%; /* 43.2px */
            letter-spacing: 18.24px;
        }
    }
    .mega-content {
        .content-item {
            img {
                height: 420px;
            }
            .mega-button {
                width: fit-content;
                color: var(--Text-Secondary, #545e75);
                font-family: Noto Sans;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                border: 1px solid;
                border-radius: 10px;
                margin-top: 15px;
                margin-left: 10px;
            }
        }
    }
}
.dvlk {
    margin-bottom: 50px;
    margin-top: 50px;
    height: 530px;
    position: relative;
}

.container-logo {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(238 241 245);
    box-sizing: border-box;
    padding: 50px 50px 50px 50px;
}

.box-logo {
    height: 418px;
    padding-top: 20px;
    .swiper {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        .swiper-wrapper {
            height: 95%;
        }
    }

    .swiper-slid2 {
        text-align: center !important;
        font-size: 18px !important;
        background: #fff !important;
        height: calc((100% - 30px) / 2) !important;

        /* Center slide text vertically */
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .swiper-pagination {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .swiper-pagination-bullet {
        width: 35px;
        height: 2px;
        background-color: #79889a; /* Màu của thanh ngang */
        margin: 0 8px; /* Khoảng cách giữa các thanh ngang */
        opacity: 0.5; /* Độ mờ khi chưa được chọn */
        transition: opacity 0.3s;
        height: 4px;
        border-radius: 0;
    }
    .swiper-pagination-bullet-active {
        opacity: 1; /* Độ mờ khi đã được chọn */
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 50px;
        color: #eef1f5;
        top: 104%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.box-logo::before {
    content: "ĐƠN VỊ LIÊN KẾT";
    color: #fff;
    text-align: center;
    font-family: STIX Two Text;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 222%;
    letter-spacing: 0.14px;
    background: #2f343c;
    width: 377px;
    height: 61px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 100% 0, 89% 100%, 11% 100%);
    z-index: 2;
}
.box-logo::after {
    content: "";
    background: #000;
    width: 400px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(3% 0%, 97% 0%, 100% 100%, 0% 100%);
    z-index: 1;
}

.media_new {
    background-image: url("/assets/images/BGTHOISU2.png");
    background-repeat: round;
    padding-bottom: 40px;

    .list-media {
        color: white;

        .media-header {
            background-color: #d63232;
            padding-left: 10px;

            .tt-disable {
                color: rgba(252, 253, 254, 0.65);
                font-family: Noto Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
            }

            .name-media {
                font-family: STIX Two Text;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
            }
        }

        .media-item-active {
            background-color: #3e4147;
        }

        .media-item {
            background-color: #2c2f35;
            border-top: 1px solid #4b4e54;
        }

        .last-item {
            border-bottom: 1px solid #4b4e54;
        }

        .name-media {
            padding-top: 5px;
            color: #fcfdfe;
            font-family: STIX Two Text;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
        }

        .tt-disable {
            color: rgba(252, 253, 254, 0.54);
            font-family: Noto Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.local-news {
    font-size: 16px;

    .space-date {
        width: 210px;
        border-radius: 5px;
        margin-right: -15px;
        padding-right: 0px;
        margin-bottom: 6px;
        float: right;
        text-align: center;
        padding-top: 5px;
        height: 35px;
        background-color: #f8f9fc;
        border: 1px solid #c8d4e5;
    }

    .name {
        font-style: normal;
        font-weight: 500;
        color: #212839;
    }

    span {
        color: #8a95ab;
    }
}
.list-logo {
    .box {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        .item {
            height: 100px;
            background-color: #f8f9fc;
            padding-left: 10px;
            padding-right: 10px;
            img {
                height: 60px;
                width: 140px;
            }
        }
    }
}
.footer {
    font-size: 16px;
    background-color: #f8f9fc;

    .footer-header {
        border-bottom: 1px solid #e7ecf4;
        padding-bottom: 20px;

        .icon-contact {
            margin-top: -4px;
            padding-top: 6px;
            border-radius: 45%;
            text-align: center;
            width: 40px;
            background-color: #dce2ed;
            height: 35px;

            i {
                font-size: 16px;
            }
        }
    }

    .footer-content {
        border-bottom: 1px solid #e7ecf4;
        padding-bottom: 20px;

        label {
            padding-left: 20px;
        }

        input {
            border-right: none;
        }

        button {
            height: 33px;
        }
    }
}
.fixed-item {
    bottom: 93px;
    position: fixed;
    z-index: 1000;
    right: 0;
    height: 102px;
    width: 170px;
}

